<div id="console-output" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="boxed-header ui-widget-header ui-corner-all ">
		<span class="ui-icon ui-icon-minusthick"></span>
		<div>Console output</div>
	</div>
	<div id="console-output-text" class="boxed-content">
	</div>
 </div>

<div id="console" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="boxed-header ui-widget-header ui-corner-all ">
		<span class="ui-icon ui-icon-minusthick"></span>
		<div>Console</div>
	</div>
	<div id="console-input" class="boxed-content">
		<form id="console-form">
			<span><input type="text" name="console-line" id="console-line"></span>
		</form>
	</div>
</div>
