<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debugger</title>
    <link rel="stylesheet" href="../css/debugger.css">
    <script src="../libs/jquery-2.0.0.js"></script>
    <script src="../scripts/views.js"></script>
  </head>
  <body>
		<div id="main">
			<section id="middle">

				<div id="container">
					<div id="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique, urna a lacinia egestas, purus nunc suscipit nunc, at suscipit nibh tellus egestas sapien. Etiam arcu lorem, tempor ut luctus condimentum, lacinia in sem. Cras in purus in ligula congue sodales. Sed tempor lobortis libero, vel vulputate lectus blandit id. Fusce vel nibh justo, a mollis arcu. Nam nulla libero, fringilla vel ullamcorper non, ornare et nibh. Vivamus nisl sem, dapibus sed convallis id, lacinia sit amet urna. Nulla sed leo et lorem rutrum gravida. In euismod ullamcorper massa eget laoreet. Sed rhoncus lorem vitae neque pellentesque eleifend. Praesent sit amet nulla quis augue laoreet tempus.
					</div><!-- #content-->
				</div><!-- #container-->

				<aside id="main_left">
					<div id="main_left_top">
						<p>main_left_top
				  </div>
					<div id="main_left_bottom">
						<p>main_left_bottom
				  </div>
				</aside><!-- #main_left -->

				<aside id="main_right">
					<div id="main_right_top">
						<p>main_right_top
				  </div>
					<div id="console-output">
				  </div>
				</aside><!-- #main_right -->
			</section><!-- #middle-->
		</div><!-- #main -->

		<footer id="console">
			<form id="console-form">
				<input type="text" name="console-line" id="console-line">
			</form>
		</footer><!-- #footer -->
  </body>
</html>
