<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debugger</title>
    <link rel="stylesheet" href="../css/debugger.css" />
    <link rel="stylesheet" href="../css/jquery-ui.css" />
    <script type="text/javascript" src="../libs/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="../libs/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="../scripts/views.js"></script>
  </head>
  <body>
		<div id="main">

			<div id="filelist" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>File listing</div>
				</div>
				<div id="filelist-content" class="boxed-content">
					<ul>
					</ul>
				</div>
			</div>

			<div id="content" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Content window</div>
				</div>
				<div id="content-window" class="boxed-content">
				</div>
			</div>

			<div id="console-output" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Console output</div>
				</div>
				<div id="console-output-text" class="boxed-content">
				</div>
		  </div>

			<div id="console" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Console</div>
				</div>
				<div id="console-output-text" class="boxed-content">
					<form id="console-form">
						<span><input type="text" name="console-line" id="console-line"></span>
					</form>
				</div>
		  </div>

		</div>
  </body>
</html>
