<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debugger</title>
    <link rel="stylesheet" href="../css/debugger.css" />
    <link rel="stylesheet" href="../css/jquery-ui.css" />
		<link rel="icon" href="../images/icons/black_white/icon_32.png" sizes="32x32">
    <script type="text/javascript" src="../libs/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="../libs/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="../scripts/views.js"></script>
  </head>
  <body>
		<div id="main">

			<div id="controls" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>File listing</div>
				</div>
				<div id="controls-content" class="boxed-content">
					<img id="controls-continue" class="controls-button" alt="Debugger continue" src="../images/debuggerContinue.png" />
					<span>( <img id="controls-continue-local" class="controls-button" alt="Debugger continue" src="../images/debuggerContinue.png" /> Local)</span>
					<span>( <img id="controls-continue-remote" class="controls-button" alt="Debugger continue" src="../images/debuggerContinue.png" /> Remote)</span>
					<img id="controls-pause" class="controls-button" alt="Debugger pause" src="../images/debuggerPause.png" />
					<img id="controls-stepover" class="controls-button" alt="Debugger step over" src="../images/debuggerStepOver.png" />
					<img id="controls-stepinto" class="controls-button" alt="Debugger step into" src="../images/debuggerStepInto.png" />
					<img id="controls-stepout" class="controls-button" alt="Debugger step out" src="../images/debuggerStepOut.png" />
					<img id="controls-breakpoints-enabled" class="controls-button" alt="Enable debugger breakpoints" src="../images/debuggerBreakpointsEnabled.png" />
					<img id="controls-breakpoints-disabled" class="controls-button" alt="Disable debugger breakpoints" src="../images/debuggerBreakpointsDisabled.png" />
				</div>
			</div>

			<div id="filelist" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>File listing</div>
				</div>
				<div id="filelist-content" class="boxed-content">
					<ul>
					</ul>
				</div>
			</div>

			<div id="content" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Content window</div>
				</div>
				<div id="content-window" class="boxed-content">
				</div>
			</div>

			<div id="state-information" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>State information</div>
				</div>
				<div id="state-information-panel" class="boxed-content">
				</div>
			</div>

			<div id="console-output" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Console output</div>
				</div>
				<div id="console-output-text" class="boxed-content">
				</div>
		  </div>

			<div id="console" class="boxed ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
				<div class="boxed-header ui-widget-header ui-corner-all ">
					<span class="ui-icon ui-icon-minusthick"></span>
					<div>Console</div>
				</div>
				<div id="console-input" class="boxed-content">
					<form id="console-form">
						<span><input type="text" name="console-line" id="console-line"></span>
					</form>
				</div>
		  </div>

		</div>
  </body>
</html>
