#main {
	float: left;
	height: 100%;
	min-height: 800px;
	width: 100%;
	min-width: 600px;
	text-size: 0.5em;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: small;
}

.column { 
	width: 170px; 
	float: left; 
	padding-bottom: 100px; 
}
.boxed { 
	margin: 0 1em 1em 0; 
	overflow: hidden;
	width: 500px;
}
.boxed-header { 
	margin: 0.3em; 
	padding-bottom: 4px; 
	padding-left: 0.2em; 
}
.boxed-header .ui-icon { 
	float: right; 
}
.boxed-content { 
	padding: 0.4em;
}
.ui-sortable-placeholder {
	border: 1px dotted black; 
	visibility: visible !important; 
	height: 25px !important; 
}
.ui-sortable-placeholder * { 
	visibility: hidden; 
}

#content-window {
	line-height: 5px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
}

#console-output {
	background: #FFACAA;
}

#console-output-text {
	line-height: 1px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
}

/* console iput draggable box */
#console {
	height: 5.5em;
	background: #BFF08E;
}
#console input {
  width: 99.5%;
}

#controls {
	heigth: 50px;
}

#controls-breakpoints-enabled {
	width: 16px;
	heigth: 16px;
}

.controls-button {
	padding-left: 5px;
	padding-right: 5px;
}

#controls-breakpoints-disabled {
	width: 16px;
	heigth: 16px;
}

#content-window {
	overflow: auto;
}
